# General .gitignore file

# Ignore node_modules
node_modules/
npm-debug.log

# Ignore logs
logs/
*.log
yarn-debug.log*
yarn-error.log*

# Ignore environment variables
.env

# Ignore build files
build/
dist/

# Ignore IDE/editor settings
.idea/
.vscode/
*.swp

# Ignore OS-specific files
.DS_Store
Thumbs.db

# Ignore temporary files
*.tmp
*.temp

# Ignore specific paths and files
/demo/assets/css/styles.css
/demo/assets/images/
/demo/assets/sounds/
trash/
